/*
  Стили для тёмной темы.
*/

:root.theme-dark {
  --page-text-color: #f1b2ce;
  --page-accent-color: #ff0070;
  --page-title-color: #db00ff;
  --page-bg-color: #000028;
  --page-bg-image: url(../images/cover-image-dark.png);
  --card-title-color: #000028;
  --section-title-color: #ff0070;
  --theme-menu-button-hover-color: #ff007066;
}