/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

@media (width >= 768px) {
  img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
}

@media (orientation: portrait) {
  img {
    max-height: 70vh;
  }
}

/* Ретина-дисплеи. */
@media (-webkit-min-device-pixel-ratio: 2) { 
  img {
    image-rendering: -webkit-optimize-contrast; /* Улучшение резкости. */
  }
}